main {
    width: 100%;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rating_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mid_img img{
    width: 400px;
}

h1 {
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
}

p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 400px;
}

.rating_nums {
    margin-top: 20px;
}

.rating_num {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #1F73F9;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.rating_text {
    color: #fff;
    font-size: 14px;
}

.bad {
    position: absolute;
    top: 200px;
    left: 0px;
}

.good {
    position: absolute;
    top: 200px;
    right: 0px;
}

.next_page {
    text-decoration: none;
}

@media (max-width: 420px) {
    p {
        font-size: 12px;
        width: 300px;
    }
    .mid_img img {
        width: 300px;
    }
    .rating_nums {
        width: 200px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    .bad {
        top: 250px;
        left: 30px;
    }
    .good {
        top: 250px;
        right: 30px;
    }
}