main {
  margin-top: -20px;
  width: 100%;
}

.wrapper {
  max-width: 1053px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title h1 {
  font-size: 18px;
  color: #bfc9d4;
}

.que {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}

.first_ans {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

// .answer_button {
//     text-align: left;
//     margin-top: 10px;
//     width: 200px;
//     color: #fff;
//     padding: 10px;
//     outline: none;
//     border: 1px solid #1F73F9;
//     border-radius: 15px;
//     background-color: black;
//     cursor: pointer;
//     &:hover {
//         background-color: #fff;
//     }
// }

.ans_block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.answer_button {
  text-align: left;
  margin-top: 10px;
  width: 200px;
  color: #fff;
  padding: 10px;
  outline: none;
  border: 1px solid #1f73f9;
  border-radius: 15px;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer_button:hover {
  background-color: #e0e0e0;
}

.answer_button.selected,
.rating_button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.rating_button {
  padding: 10px 20px;
  border: 1px solid #007bff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rating_button:hover {
  background-color: #e0e0e0;
}

.submit_btn {
  margin-top: 25px;
  width: 200px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #00a1e7;
  color: #fff;
  cursor: pointer;
}

.img_block {
    position: absolute;
    right: 110px;
    top: 150px;
}

.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1365px) {
  .img_block  {
    right: 30px;
  }
}

@media (max-width: 1185px) {
  .img_block {
    right: 0px;
  }
}

@media (max-width: 990px) {
  .img_block {
    display: none;
  }
}

@media (max-width: 365px) {
  .title h1 {
    font-size: 14px;
  }
  .que {
    font-size: 12px;
  }
}